@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;

}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*configs acima para posicionar telefone sempre no meio da tela*/
    height: 627px;
    width: 311px;
    /* background-color: blue; pra ver exatamente onde está essa section na tela*/
    background: url('../imagens/frame-iphone.png') no-repeat;
   
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    box-sizing: border-box; /*para botões das redes não se mexerem verticalmente qdo um for selecionado no hover*/
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px); /*para mexer lateralmente levemente qdo selecionado*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);/*para sombra acompanhar essa movimentação*/
    transition: transform .5s; /*para a transform 2 linhas acima ocorrer de maneira mais animada*/
}